body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.post-card{
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
}
.user-card{
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 5px;
}