body{
    background-color: grey;
}

.container{
    width: 450px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    background-color: white;
    border-radius: 20px;
    border: none;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.todo_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo_button{
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

.todo_item input{
    border-style: dashed;
}
.todo_item_text{
    margin-left: 5px;
}


/*  ---- tic-tac-toe CSS */


.board-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}